@model IEnumerable<ex2.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Reviews</h1>

<form asp-action="Index" id="search">
    <input name="query" id="search"/>
    <input type="submit"/>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

@{
    ViewBag.i = 0.0;
    ViewBag.sum = 0.0;
    foreach (var item in Model) {
        ViewBag.sum += item.Rate;
        ViewBag.i++;
    }
    var avg = ViewBag.sum / ViewBag.i;
    if ((avg * 100) % 1 != 0)
    {
        ViewBag.avg = String.Format("{0:0.00}", avg); 
    }
    else
    {
        ViewBag.avg = avg;
    }
}

<div>
    Average rate: @ViewBag.avg
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>